body{
    margin: 0;
}

.d1{
    
    text-align: center;
    background-color: gray;
    height: 120px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

#a1{
    margin-left: 850px;
    position: relative;
    height: 25%;
    background-color: lightgray;
    text-decoration: none;
}

#a2{
    margin-left: 50px;
    position: relative;
    height: 25%;
    background-color: lightgray;
    text-decoration: none;
}

#a3{
    margin-left: 50px;
    position: relative;
    height: 25%;
    background-color: lightgray;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.d2{
    width: 150px;
    height: 800px;
    position: absolute;
    left: 0px;
    background-color: rgb(133, 37, 37);
    margin-top: 0px;
    padding-right: 20px;
}

ol{
    position: relative;
    top: 30px;
}

.d3{
    position: absolute;
    top:400px;
    left: 700px; 
}

p{
    text-align: center;
}