.d1{
    
    text-align: center;
    background-color: gray;
    height: 120px;
    
}

#a1{
    margin-right: 50px;
}

#a2{
    margin-left: 50px;
}

a{
    background-color: lightgray;
    border: 20px;
}

.d2{
    width: 150px;
    height: 1000px;
    position: relative;
    left: 0px;
    background-color: rgb(29, 23, 23);
}