.d1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: gray;
    height: 120px;
    
}

#a1{
    margin-right: 50px;
}

#a2{
    margin-left: 50px;
}

a{
    margin-top: 150px;
}